@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
@import "tailwindcss";

@theme {
  --default-font-family: "Cairo", sans-serif;
  --color-bg: #020617;
  --color-primary: #0F172A;
  --color-secondary: #6366F1;

  --color-adBg: #020617;
  --color-adSidebar: #0F172A;
  --color-adText: #F8FAFC;
  --color-adPrimary: #6366F1;
  --color-adSuccess: #10B981;
}

body {
  @apply bg-bg text-white
}
